.logo {
  margin: .20em;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  border-bottom: 1px dotted gray;
}

.note {
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  justify-content: space-between;
}